/*
	Put anything you reference with "url()" in ../assets/
	This way, you can minify your application, and just remove the "source" folder for production
*/
.nice-padding {
	padding: 15px;
}

.nice-margin {
	margin:15px;
}

.forecast, .outlook {
	background-color:#DFDFDF;
}

.outlook .forecast, .details .row {
	border-bottom:1px solid rgba(0,0,0,0.75);
	border-top:1px solid rgba(255,255,255,1);
}

.label {
	color:#666;
}

.icon-container {
	border-radius:4px;
	box-shadow: inset 0px 2px 6px rgba(0,0,0,0.5);
	background-color:rgba(0,0,0,0.15);
}

.icon-container > img {
	width:50px;
	height:50px;
}

.day {
	text-transform:uppercase;
	color:#235B86;
	text-shadow: 0px 1px 0px rgba(255,255,255,0.95), 0px 1px 0px rgba(0,0,0,0.5);
}

.forecast.primary .icon-container>img {
	width:100px;
	height:100px;
}

.forecast.hourly {
	background-color:#3A3A3A;
	color:#DFDFDF;
	border-bottom:2px solid rgba(0,0,0,1);
	border-top:2px solid rgba(255,255,255,0.25);
}

.forecast.hourly .body {
	text-align:right;
}

.forecast.hourly .day {
	color:#F79A42;
}

.forecast.hourly .label {
	color:#999;
}

.forecast.hourly .icon-container {
	background-color:rgba(255,255,255,0.5);
}

.detail {
	background-color:#555;
}

.detail .today {
	z-index:2;
	box-shadow: 0px 2px 6px rgba(0,0,0,0.75);
	position:relative;
}

.detail .scroller {
	z-index:1;
}

.detail .row {
	background-color:#7A7A7A;
}

.detail .row img {
	margin-right:1em;
	vertical-align:middle;
}

.halfwidth {
	display:inline-block;
	box-sizing:border-box;
	width:50%;
	vertical-align:middle;
}

.halfwidth:first-child {
	border-right:1px solid rgba(0,0,0,0.75);
}

.halfwidth:last-child {
	border-left:1px solid rgba(255,255,255,0.25);
}
