.detail .today {
	z-index:2;
	box-shadow: 0px 2px 6px rgba(0,0,0,0.75);
	position:relative;
}

.detail .scroller {
	z-index:1;
}

.detail .row {
	background-color:#7A7A7A;
	border-bottom:1px solid rgba(0,0,0,0.75);
	border-top:1px solid rgba(255,255,255,0.25);
}

.detail .tide-table {
	width:100%;
	table-layout:fixed;
	text-align:center;
}

.detail .sunmoon {
	text-align:center;
}

.detail .sunmoon .sunrise, .detail .sunmoon .sunset {
	line-height:48px;
	background-position:16px center;
	background-repeat:no-repeat;
}

.detail .sunmoon .sunrise {
	background-image:url(../assets/icons/sunrise.png);
}

.detail .sunmoon .sunset {
	background-image:url(../assets/icons/sunset.png);
}

