.detail .today {
	z-index:2;
	box-shadow: 0px 2px 6px rgba(0,0,0,0.75);
	position:relative;
	background-color:#DFDFDF;
	font-size:1.5em;
	margin-bottom:0.5em;
}

.detail .scroller {
	z-index:1;
}

.detail .tide-table {
	width:100%;
	table-layout:fixed;
	text-align:center;
}

.detail .sunmoon {
	text-align:center;
}

.detail .sunmoon .sunrise, .detail .sunmoon .sunset {
	line-height:48px;
	padding-left:48px;
	background-position:16px center;
	background-repeat:no-repeat;
}

.detail .sunmoon .sunrise {
	background-image:url(../assets/icons/sunrise.png);
}

.detail .sunmoon .sunset {
	background-image:url(../assets/icons/sunset.png);
}

.detail .condition {
	border-bottom:2px solid rgba(0,0,0,0.75);
	border-top:2px solid rgba(255,255,255,0.25);
	color:#DFDFDF;
	overflow:hidden;
}

.detail .condition:first-of-type {
	border-top:none;
}

.detail .condition:last-of-type {
	border-bottom:none;
}

.detail .condition .icon-container {
	background-color:rgba(255,255,255,0.5);
}

.detail .condition .title {
	color:#F79A42;
}
