.detail .today {
	z-index:2;
	position:relative;

	margin-bottom:-6px;
	border-style: solid;
	border-width: 0px 0px 6px;
	-moz-border-image: url(../assets/drop-shadow.png) 6 repeat;
	-webkit-border-image: url(../assets/drop-shadow.png) 6 repeat;
	-o-border-image: url(../assets/drop-shadow.png) 6 repeat;
	border-image: url(../assets/drop-shadow.png) 6 fill repeat;
}

.detail .today .title {
	font-size:24px;
	line-height:24px;
	padding:16px 16px 0px 16px;
}

.detail .title-carousel {
	width:100%;
	height:40px;
}

.detail .summary {
	padding:0rem 1rem 1rem 1rem;
}

.detail .scroller {
	z-index:1;
}

.detail .scroller .divider:first-of-type {
	margin-top:0.5em;
}

.detail .tide-table {
	width:100%;
	table-layout:fixed;
	text-align:center;
}

.detail .sunmoon {
	text-align:center;
}

.detail .sunmoon .sunrise, .detail .sunmoon .sunset {
	line-height:48px;
	padding-left:48px;
	background-position:16px center;
	background-repeat:no-repeat;
}

.detail .sunmoon .sunrise {
	background-image:url(../assets/icons/sunrise.png);
}

.detail .sunmoon .sunset {
	background-image:url(../assets/icons/sunset.png);
}

.detail .condition {
	border-bottom:1px solid rgba(0,0,0,0.75);
	border-top:1px solid rgba(255,255,255,0.25);
	color:#DFDFDF;
	overflow:hidden;
}

.detail .condition:first-of-type {
	border-top:none;
}

.detail .condition:last-of-type {
	border-bottom:none;
}

.detail .condition .icon-container {
	background-color:rgba(255,255,255,0.5);
	float:right;
}

.detail .condition .title {
	color:#F79A42;
}
