.forecast {
	overflow:hidden;
}

.forecast, .light {
	background-color:#DFDFDF;
}

.forecast .icon-container {
	float:right;
	margin-left:1ex;
}

.forecast .temp-range {
	display:inline-block;
	float:right;
	text-align:right
}

.forecast .temp-range img {
	height:1em;
	vertical-align:middle;
}

.forecast .label {
	color:#666;
}

.forecast.hourly .body {
	text-align:right;
}

.forecast.dark .day {
	color:#F79A42;
	display:inline-block;
}

.forecast.dark .label {
	color:#999;
}

.forecast.hourly .icon-container {
	float:left;
}

.forecast.primary {
	min-height:108px;
}

.forecast.primary .icon-container>img {
	width:100px;
	height:100px;
}

.onyx-popup .forecast {
	background-color:transparent;
}
