.forecast, .light {
	background-color:#DFDFDF;
}


.forecast.hourly .body {
	text-align:right;
}

.forecast.dark .day {
	color:#F79A42;
}

.forecast.dark .label {
	color:#999;
}

.forecast.dark .icon-container {
	background-color:rgba(255,255,255,0.5);
}

.forecast .label {
	color:#666;
}

.forecast.hourly .icon-container {
	float:left;
}

.forecast.primary {
	min-height:108px;
}

.forecast.primary .icon-container>img {
	width:100px;
	height:100px;
}

.forecast .temp-range img {
	height:1em;
	vertical-align:middle;
}

.onyx-popup .forecast {
	background-color:transparent;
}
