.place-label
{
	position:absolute;
	font-size:0.5em;
	vertical-align:middle;
	background-color:rgba(255,255,255,0.5);
	box-shadow:0px 2px 6px rgba(0,0,0,0.5);
	padding-right:8px;

	-webkit-animation: fadein 0.5s;
	-moz-animation: fadein 0.5s;
	animation: fadein 0.5s;
}

.place-label > *
{
	display:inline-block;
	vertical-align:middle
}

.place-label > img
{
	height:4em;
	width:4em;
}

@-webkit-keyframes fadein {
	from {
		opacity:0
	}

	to {
		opacity:1
	}
}
@-moz-keyframes fadein {
	from {
		opacity:0
	}

	to {
		opacity:1
	}
}
@keyframes fadein {
	from {
		opacity:0
	}

	to {
		opacity:1
	}
}

