.place-label
{
	position:absolute;
	font-size:0.5em;
	vertical-align:middle;
	background-color:rgba(255,255,255,0.5);
	padding-right:8px;

	-webkit-animation: fadein 0.5s;
	-moz-animation: fadein 0.5s;
	animation: fadein 0.5s;
}

.place-label > *
{
	display:inline-block;
	vertical-align:middle
}

.place-label > img
{
	height:32px;
	width:32px;
}

@-webkit-keyframes fadein {
	from {
		opacity:0
	}

	to {
		opacity:1
	}
}
@-moz-keyframes fadein {
	from {
		opacity:0
	}

	to {
		opacity:1
	}
}
@keyframes fadein {
	from {
		opacity:0
	}

	to {
		opacity:1
	}
}

