.outlook, .dark, .detail {
	background-color:#555;
}

.outlook .forecast, .outlook .advisory {
	border-bottom:1px solid rgba(0,0,0,0.75);
	border-top:1px solid rgba(255,255,255,1);
}

.outlook .advisory.title {
	background-color:white;
	color:black;
}

.outlook .advisory {
	padding:1em;
	text-transform:lowercase;
}

.outlook .advisory:first-letter {
	text-transform:capitalize;
}

.outlook .forecast.primary {
	border-top:none;
}

.outlook .advisories-button {
	text-align:center;
	background-color: yellow;
	text:black;
}

.outlook .light .icon-container {
	float:left;
	margin-right:1ex;
	margin-left:0;
}

.outlook .minutely-forecast-drawer {
	background-color:black;
	padding: 0em 8px;
	color:white;
}

.outlook .minutely-forecast-drawer .minutely-forecast {
	background-color:#CCC;
	color:black;
}
