.command-menu, .command-menu-placeholder {
	display:none;
}

.show-command-menu .command-menu, .show-command-menu .command-menu-placeholder {
	display:block;
}

.command-menu {
	position:absolute;
	z-index:100;
	bottom:0;
	width:100%;
}

.command-menu, .command-menu-placeholder {
	height:40px
}

