.divider-label {
	margin:0 0.5em;
}

.divider-line {
	background-color:#F79A42;
	height:0.4em;
	vertical-align:middle;
}

.divider-line.right {
	border-radius:0.2em 0 0 0.2em;
}

.divider-line.left {
	width:1em;
	border-radius:0 0.2em 0.2em 0;
}
